In [1]:
from lxml import html
import requests
import urllib.request
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
import numpy
import pandas
import json
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
keys = ['New Search','Year Instruction Started:','School Type:','Qualification Title:','Curriculum Duration:','Language of Instruction:']

In [13]:
url='https://search.wdoms.org/Home/GetCountriesList?sUnmember=Y&_=1585794474247'
response = requests.post(url)
countries = json.loads(response.text)
countries

[{'countryCode': '118', 'countryName': 'Afghanistan'},
 {'countryCode': '120', 'countryName': 'Albania'},
 {'countryCode': '125', 'countryName': 'Algeria'},
 {'countryCode': '128', 'countryName': 'Angola'},
 {'countryCode': '130', 'countryName': 'Antigua and Barbuda'},
 {'countryCode': '132', 'countryName': 'Argentina'},
 {'countryCode': '138', 'countryName': 'Armenia'},
 {'countryCode': '143', 'countryName': 'Australia'},
 {'countryCode': '154', 'countryName': 'Austria'},
 {'countryCode': '156', 'countryName': 'Azerbaijan'},
 {'countryCode': '155', 'countryName': 'Bahrain'},
 {'countryCode': '160', 'countryName': 'Bangladesh'},
 {'countryCode': '162', 'countryName': 'Barbados'},
 {'countryCode': '164', 'countryName': 'Belarus'},
 {'countryCode': '165', 'countryName': 'Belgium'},
 {'countryCode': '166', 'countryName': 'Belize'},
 {'countryCode': '170', 'countryName': 'Benin'},
 {'countryCode': '176', 'countryName': 'Bolivia (Plurinational State of)'},
 {'countryCode': '668', 'countryName': 'Bonaire'},
 {'countryCode': '178', 'countryName': 'Bosnia and Herzegovina'},
 {'countryCode': '180', 'countryName': 'Botswana'},
 {'countryCode': '187', 'countryName': 'Brazil'},
 {'countryCode': '198', 'countryName': 'Bulgaria'},
 {'countryCode': '207', 'countryName': 'Burkina Faso'},
 {'countryCode': '211', 'countryName': 'Burundi'},
 {'countryCode': '215', 'countryName': 'Cambodia'},
 {'countryCode': '217', 'countryName': 'Cameroon'},
 {'countryCode': '098', 'countryName': 'Canada'},
 {'countryCode': '104', 'countryName': 'Cayman Islands'},
 {'countryCode': '225', 'countryName': 'Central African Republic'},
 {'countryCode': '228', 'countryName': 'Chad'},
 {'countryCode': '231', 'countryName': 'Chile'},
 {'countryCode': '243', 'countryName': 'China'},
 {'countryCode': '264', 'countryName': 'Colombia'},
 {'countryCode': '265', 'countryName': 'Comoros'},
 {'countryCode': '727', 'countryName': 'Congo'},
 {'countryCode': '266', 'countryName': 'Congo, Democratic Republic of the'},
 {'countryCode': '117', 'countryName': 'Cook Islands'},
 {'countryCode': '270', 'countryName': 'Costa Rica'},
 {'countryCode': '273', 'countryName': 'Croatia'},
 {'countryCode': '275', 'countryName': 'Cuba'},
 {'countryCode': '968', 'countryName': 'Cyprus'},
 {'countryCode': '966', 'countryName': 'Czech Republic'},
 {'countryCode': '563', 'countryName': "Côte d'Ivoire"},
 {'countryCode': '297', 'countryName': 'Denmark'},
 {'countryCode': '300', 'countryName': 'Djibouti'},
 {'countryCode': '305', 'countryName': 'Dominica'},
 {'countryCode': '308', 'countryName': 'Dominican Republic'},
 {'countryCode': '319', 'countryName': 'Ecuador'},
 {'countryCode': '915', 'countryName': 'Egypt'},
 {'countryCode': '341', 'countryName': 'El Salvador'},
 {'countryCode': '345', 'countryName': 'Eritrea'},
 {'countryCode': '360', 'countryName': 'Estonia'},
 {'countryCode': '366', 'countryName': 'Ethiopia'},
 {'countryCode': '368', 'countryName': 'Fiji'},
 {'countryCode': '374', 'countryName': 'Finland'},
 {'countryCode': '396', 'countryName': 'France'},
 {'countryCode': '397', 'countryName': 'Gabon'},
 {'countryCode': '402', 'countryName': 'Gambia'},
 {'countryCode': '406', 'countryName': 'Georgia'},
 {'countryCode': '409', 'countryName': 'Germany'},
 {'countryCode': '412', 'countryName': 'Ghana'},
 {'countryCode': '418', 'countryName': 'Greece'},
 {'countryCode': '422', 'countryName': 'Grenada'},
 {'countryCode': '429', 'countryName': 'Guatemala'},
 {'countryCode': '435', 'countryName': 'Guinea'},
 {'countryCode': '436', 'countryName': 'Guinea Bissau'},
 {'countryCode': '438', 'countryName': 'Guyana'},
 {'countryCode': '440', 'countryName': 'Haiti'},
 {'countryCode': '451', 'countryName': 'Honduras'},
 {'countryCode': '462', 'countryName': 'Hong Kong, S.A.R. China'},
 {'countryCode': '473', 'countryName': 'Hungary'},
 {'countryCode': '484', 'countryName': 'Iceland'},
 {'countryCode': '495', 'countryName': 'India'},
 {'countryCode': '506', 'countryName': 'Indonesia'},
 {'countryCode': '517', 'countryName': 'Iran (Islamic Republic of)'},
 {'countryCode': '528', 'countryName': 'Iraq'},
 {'countryCode': '539', 'countryName': 'Ireland'},
 {'countryCode': '550', 'countryName': 'Israel'},
 {'countryCode': '561', 'countryName': 'Italy'},
 {'countryCode': '566', 'countryName': 'Jamaica'},
 {'countryCode': '572', 'countryName': 'Japan'},
 {'countryCode': '575', 'countryName': 'Jordan'},
 {'countryCode': '576', 'countryName': 'Kazakhstan'},
 {'countryCode': '577', 'countryName': 'Kenya'},
 {'countryCode': '582',
  'countryName': "Korea, Democratic People's Republic of"},
 {'countryCode': '583', 'countryName': 'Korea, Republic of'},
 {'countryCode': '584', 'countryName': 'Kuwait'},
 {'countryCode': '587', 'countryName': 'Kyrgyzstan'},
 {'countryCode': '590', 'countryName': 'Lao People’s Democratic Republic'},
 {'countryCode': '595', 'countryName': 'Latvia'},
 {'countryCode': '605', 'countryName': 'Lebanon'},
 {'countryCode': '610', 'countryName': 'Liberia'},
 {'countryCode': '613', 'countryName': 'Libya'},
 {'countryCode': '616', 'countryName': 'Lithuania'},
 {'countryCode': '619', 'countryName': 'Macau, S.A.R. China'},
 {'countryCode': '620', 'countryName': 'Madagascar'},
 {'countryCode': '622', 'countryName': 'Malawi'},
 {'countryCode': '624', 'countryName': 'Malaysia'},
 {'countryCode': '623', 'countryName': 'Maldives'},
 {'countryCode': '625', 'countryName': 'Mali'},
 {'countryCode': '627', 'countryName': 'Malta'},
 {'countryCode': '632', 'countryName': 'Mauritania'},
 {'countryCode': '634', 'countryName': 'Mauritius'},
 {'countryCode': '649', 'countryName': 'Mexico'},
 {'countryCode': '082', 'countryName': 'Micronesia (Federated States of)'},
 {'countryCode': '650', 'countryName': 'Moldova, Republic of'},
 {'countryCode': '652', 'countryName': 'Mongolia'},
 {'countryCode': '653', 'countryName': 'Montenegro'},
 {'countryCode': '654', 'countryName': 'Montserrat'},
 {'countryCode': '655', 'countryName': 'Morocco'},
 {'countryCode': '657', 'countryName': 'Mozambique'},
 {'countryCode': '209', 'countryName': 'Myanmar'},
 {'countryCode': '658', 'countryName': 'Namibia'},
 {'countryCode': '672', 'countryName': 'Nepal'},
 {'countryCode': '660', 'countryName': 'Netherlands'},
 {'countryCode': '671', 'countryName': 'New Zealand'},
 {'countryCode': '682', 'countryName': 'Nicaragua'},
 {'countryCode': '688', 'countryName': 'Niger'},
 {'countryCode': '690', 'countryName': 'Nigeria'},
 {'countryCode': '147', 'countryName': 'Niue'},
 {'countryCode': '621', 'countryName': 'North Macedonia'},
 {'countryCode': '693', 'countryName': 'Norway'},
 {'countryCode': '695', 'countryName': 'Oman'},
 {'countryCode': '704', 'countryName': 'Pakistan'},
 {'countryCode': '715', 'countryName': 'Panama'},
 {'countryCode': '720', 'countryName': 'Papua New Guinea'},
 {'countryCode': '726', 'countryName': 'Paraguay'},
 {'countryCode': '737', 'countryName': 'Peru'},
 {'countryCode': '748', 'countryName': 'Philippines'},
 {'countryCode': '759', 'countryName': 'Poland'},
 {'countryCode': '770', 'countryName': 'Portugal'},
 {'countryCode': '772', 'countryName': 'Qatar'},
 {'countryCode': '781', 'countryName': 'Romania'},
 {'countryCode': '785', 'countryName': 'Russian Federation'},
 {'countryCode': '790', 'countryName': 'Rwanda'},
 {'countryCode': '662', 'countryName': 'Saba'},
 {'countryCode': '661', 'countryName': 'Saint Kitts and Nevis'},
 {'countryCode': '306', 'countryName': 'Saint Lucia'},
 {'countryCode': '794', 'countryName': 'Saint Vincent and the Grenadines'},
 {'countryCode': '795', 'countryName': 'Samoa'},
 {'countryCode': '797', 'countryName': 'Saudi Arabia'},
 {'countryCode': '820', 'countryName': 'Senegal'},
 {'countryCode': '821', 'countryName': 'Serbia'},
 {'countryCode': '822', 'countryName': 'Seychelles'},
 {'countryCode': '823', 'countryName': 'Sierra Leone'},
 {'countryCode': '825', 'countryName': 'Singapore'},
 {'countryCode': '967', 'countryName': 'Slovakia'},
 {'countryCode': '826', 'countryName': 'Slovenia'},
 {'countryCode': '828', 'countryName': 'Solomon Islands'},
 {'countryCode': '830', 'countryName': 'Somalia'},
 {'countryCode': '836', 'countryName': 'South Africa'},
 {'countryCode': '849', 'countryName': 'South Sudan'},
 {'countryCode': '847', 'countryName': 'Spain'},
 {'countryCode': '220', 'countryName': 'Sri Lanka'},
 {'countryCode': '848', 'countryName': 'Sudan'},
 {'countryCode': '850', 'countryName': 'Suriname'},
 {'countryCode': '858', 'countryName': 'Sweden'},
 {'countryCode': '869', 'countryName': 'Switzerland'},
 {'countryCode': '875', 'countryName': 'Syrian Arab Republic'},
 {'countryCode': '882', 'countryName': 'Tajikistan'},
 {'countryCode': '880', 'countryName': 'Tanzania, United Republic of'},
 {'countryCode': '891', 'countryName': 'Thailand'},
 {'countryCode': '893', 'countryName': 'Togo'},
 {'countryCode': '894', 'countryName': 'Trinidad and Tobago'},
 {'countryCode': '895', 'countryName': 'Tunisia'},
 {'countryCode': '902', 'countryName': 'Turkey'},
 {'countryCode': '903', 'countryName': 'Turkmenistan'},
 {'countryCode': '905', 'countryName': 'Uganda'},
 {'countryCode': '908', 'countryName': 'Ukraine'},
 {'countryCode': '916', 'countryName': 'United Arab Emirates'},
 {'countryCode': '917',
  'countryName': 'United Kingdom of Great Britain and Northern Ireland'},
 {'countryCode': '099', 'countryName': 'United States of America'},
 {'countryCode': '924', 'countryName': 'Uruguay'},
 {'countryCode': '928', 'countryName': 'Uzbekistan'},
 {'countryCode': '930', 'countryName': 'Vanuatu'},
 {'countryCode': '935', 'countryName': 'Venezuela (Bolivarian Republic of)'},
 {'countryCode': '941', 'countryName': 'Viet Nam'},
 {'countryCode': '951', 'countryName': 'Yemen'},
 {'countryCode': '965', 'countryName': 'Zambia'},
 {'countryCode': '775', 'countryName': 'Zimbabwe'}]

In [4]:
def getTotalPages(country_id):
    url='https://search.wdoms.org/'
    page=1
    school_ids=[]
    data={'sCountryName':country_id,
            'sSchoolName':'',
            'sCityName':'',
            'sOperationFlag':'Y',
            'iPageNumber':page,
            'UN_MemberStatus':'Y',
            'sessionId':''}
    response = requests.post(url, data=data)
    soup = BeautifulSoup(response.text, 'html.parser')
    return int(soup.find('input', { "id" : "hdntotalcount","type":"hidden"})['value'])

def getActiveSchools(country_id):
    school_ids=[]
    page_count = getTotalPages(country_id)
    url='https://search.wdoms.org/'
    
    for page in range(1,page_count+1):
        data={'sCountryName':country_id,
                'sSchoolName':'',
                'sCityName':'',
                'sOperationFlag':'Y',
                'iPageNumber':page,
                'UN_MemberStatus':'Y',
                'sessionId':''}
        response = requests.post(url, data=data)
        soup = BeautifulSoup(response.text, 'html.parser')
        text = soup.find_all('td', { "style" : "display: none"})
        id_pattern='(?s)(?<=\<td style="display: none">)(.*?)(?=\<\/td\>)'
        for t in text:
            school_ids.append('F0000'+(str(re.findall(id_pattern, str(t))[0])))

    return school_ids

In [5]:
################MOST IMP###################

def saveSchoolAsText(url):
    print(url)
    with urlopen(url) as url:
        html_doc = url.read()
        soup = BeautifulSoup(html_doc, 'html.parser')
        # kill all script and style elements
        for script in soup(["script", "style"]):
            script.extract()    # rip it out
        # get text
        text = soup.get_text()
        # break into lines and remove leading and trailing space on each
        lines = (line.strip() for line in text.splitlines())
        # break multi-headlines into a line each
        chunks = (phrase.strip() for line in lines for phrase in line.split("  "))
        # drop blank lines
        text = '\n'.join(chunk for chunk in chunks if chunk)
        #save text in file
        text_file = open("Output.txt", "w", encoding='utf-8')
        text_file.write(text)
        text_file.close()
        #read from file
        f=open('Output.txt', encoding='utf-8')
        lines=f.readlines()
        i=1
        row={}
        for line in lines:
            if(line.strip() in keys):
                    if line.strip()=='New Search':
                        row['School']=lines[i].strip()
                        row['Country']=lines[i+1].strip()

                    if line.strip()=='Year Instruction Started:':
                        row['Year']=lines[i].strip()

                    if line.strip()=='School Type:':
                        row['Type']=lines[i].strip()

                    if line.strip()=='Qualification Title:':
                        row['Program']=lines[i].strip()

                    if line.strip()=='Curriculum Duration:':
                        row['Curriculum']=lines[i].strip()

                    if line.strip()=='Language of Instruction:':
                        row['Language']=lines[i].strip()

            i+=1
    return row

In [6]:
dtypes = numpy.dtype([
          ('Country', str),
          ('School', str),
          ('City', str),
          ('Year', str),
          ('Type', str),
            ('Program', str),
        ('Curriculum', str),
    ('Language', str)
          ])
data = numpy.empty(0, dtype=dtypes)
df = pandas.DataFrame(data)

In [9]:
rows=[]
school_ids = getActiveSchools(120)  #Put a country code here
for id in school_ids:
    url='https://search.wdoms.org/home/SchoolDetail/'+id
    row=saveSchoolAsText(url)
    df = df.append(row , ignore_index=True)

https://search.wdoms.org/home/SchoolDetail/F00002427
https://search.wdoms.org/home/SchoolDetail/F00001900

In [10]:
df

,Country,School,City,Year,Type,Program,Curriculum,Language
0,Albania,Our Lady of Good Counsel University Faculty of...,NaN,2004,Private,Master of Science in Medicine,6 years,Year Ended:
1,Albania,University of Medicine of Tirana Faculty of Me...,NaN,1952,Public,Master Shkencor në Mjekësi të Përgjithshme,6 years,Albanian
2,Albania,Our Lady of Good Counsel University Faculty of...,NaN,2004,Private,Master of Science in Medicine,6 years,Year Ended:
3,Albania,University of Medicine of Tirana Faculty of Me...,NaN,1952,Public,Master Shkencor në Mjekësi të Përgjithshme,6 years,Albanian

In [ ]:
writer = pandas.ExcelWriter('albania.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1')
writer.save()